*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    font-family: "Lato";
    color: rgb(70, 69, 69);
    background-color: whitesmoke;
}
.main-cntr{
    height:500px;
    width: 550px;
    position: relative;
    top: 100px;
    border: none 1px solid;
    background-color: white;
    border-radius: 20px;
    display: flex;
     justify-content: center;
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   
}

#top{
    height: 50px;
    width: 90%;
    border: 1px solid white;
    position: absolute;
    top: 60px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: flex;
}

#prsnl-acc{
    height: 30px;
    width: 50%;
    border: 1px solid white;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 16px;
    font-weight: 900;
    color: #4A4A4A;
    padding-left: 22px;
    padding-top: 3px;
    
}
#my-biz{
    height: 35px;
    width: 43%;
    border: 1px solid white;
    position: absolute;
    top: 6px;
    left: 250px;
    font-size: 16px;
    font-weight: 900;
    color: white;
    padding-left: 38px;
    padding-top: 5.5px;
    border-radius: 30px;
    background-image: linear-gradient(to right,#f17531, #f85873);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.login-txt{
    font-size: 26px;
    font-weight: 900;
    color: #4A4A4A;
    position: absolute;
    top: 130px;
    left: 45px;
}
.below-login-text{
    height: 40px;
    width: 90%;
    border: 1px solid none;
    position: absolute;
    top: 160px;
    display: flex;
    align-items: flex-end;
}
.below-login-text>#work{
    font-size: 16px;
    font-weight: 900;
    color: black;
    position: absolute;  
    left: 22px;
}

.below-login-text>#forgot{
    font-size: 12px;
    font-weight: 900;
    color: #ff6d53;
    position: absolute;
    left: 400px;
}

.continue-button{
    height: 40px;
    width: 90%;
    border: 1px solid none;
    position: absolute;
    top: 215px;
    left: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.continue-button>input{
    height: 40px;
    width: 330px;
    padding-left: 10px;
    position: absolute;
    left: -2px;
    border: #eebba0 1px solid;
    border-radius: 3px;
   

}
#button{
    height: 40px;
    width: 130px;
    border: 1px solid none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
    color: white;
    position: absolute;
    left: 340px;
    background-image: linear-gradient(to right,#ff4c58, #ff654b);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.continue:hover{
    background-color: #008cff;
}

.googlelogintxt{
    align-items: center;
    border: 1px solid none;
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
    width: 420px;
    position: absolute;
    top: 290px;
}
.googlelogintxt>span{
    background-color: #fff;
    color: #9b9b9b;
    display: inline-flex;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: -7px;
    padding: 0 10px;
}


.google-button-outer-circle{
    height: 40px;
    width: 40px;
    position: absolute;
    border: #bebcbc solid 1px;
    top: 320px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   ;
   

}
.googleloginbutton{
    height: 20px;
    width: 20px;
    border: none solid 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(googlelog.png);
    background-size: cover;
   
}

.main-cntr>.bottom-text{
    height: 40px;
    width: 420px;
    position: absolute;
    border: none solid 1px;
    top: 370px;
    font-size: 11px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9b9b9b;
}

.main-cntr>.bottom-text>#center{
    color: #ff664b;
}
.main-cntr>.bottom-text>#right{
    color: #ff664b;
}