*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato";
    color: rgb(70, 69, 69);
}
header{
    height: 60px;
    padding-top: 10px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    background-color: white;
}

header>a>#logo{
    height: 40px;
    width:45px;
    background-image: url(logo-short.jpg);
    background-size: contain;
    position: absolute;
    left: 250px;
}
header>a>#make{
    position: absolute;
    left: 200px;
    font-weight: 900;
    font-size: 20px;
    color: #224b7b;
    padding-top: 5px;
}
header>a>#trip{
    position: absolute;
    left: 295px;
    font-weight: 900;
    font-size: 20px;
    color: #224b7b;
    padding-top: 5px;
}


#bg-img{
    height: 400px;
    width: auto;
    background-image: url(CABS.webp);
    background-size: cover;
    display: flex;
}
#heart-cntr{
    height: 1100px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 100px auto;
    border: solid 2px white;
    position: relative;
}
#heart-cntr>h3{
    position: absolute;
    color: #111111;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    line-height:35px;
}

#heart-cntr>#top{
    height: 300px;
    width: 100%;
    display: flex;
    margin: 120px auto;
    border: solid 2px none;
    position: absolute;
    background-color: #eff7ff;
    border-radius: 10px;
}


#heart-cntr>#top>.img{
    height: 240px;
    width: 380px;
    border-radius: 20px;
    border: 2px none solid;
    background-image: url(door-open.avif);
    position: absolute;
    top: 30px;
    left: 20px;

}
#heart-cntr>#top>.off5{
    height: auto;
    width: auto;
    font-size: 40px;
    font-weight: 900;
    color: #012651;
    position: absolute;
    left:500px ;
    top: 60px;
}

#heart-cntr>#top>.usecode{

    height: 60px;
    width: 250px;
    background-color: #012651;
    position: absolute;
    left:500px ;
    top: 140px;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-left: 18px;
      border-radius: 7px;

}


#heart-cntr>#top>.usecode>.code{

    height: 60px;
    width: 170px;
    background-color: white;
    position: absolute;
    left:140px ;
    color: white;
    font-size: 24px;
    border: dashed black 1px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;   
    color: #012651;
    font-weight: 900;


}
.dashed{
    height: 10px;
    width: 100%;
    border-bottom: 1px dashed black;
    position: absolute;
    top: 500px;
}


.dashed-txt{
    height: auto;
    width: 280px;
    position: absolute;
    top: 490px;
    color: #111111;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    line-height:35px;
    background-color: white;

}


.div-4{
    height: 300px;
    width: 100%;
    position: absolute;
    top: 600px;
    display: flex;
    justify-content: space-between;

}

.div-4>div{
    height: 100%;
    width: 23%;
   
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.div-4>div>#img{
    margin: 70px auto;
    height: 100px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none solid 1px;
}

.div-4>div>#txt{
  
    height: auto;
    width: auto;
    font-size: 20px;
    font-weight: 900;
    border: 2px solid none;
    position: absolute;
    top: 200px;
    color: #111111; 
    text-align: center; 

}
.div-4>#first>#img{
    background-image: url(seat.avif);
}
.div-4>#second>#img{
     background-image: url(second.avif);
}
.div-4>#third>#img{
     background-image: url(third.avif);
}
.div-4>#fourth>#img{
     background-image: url(fourth.avif);
}


.book-now>a>#book-now{
    height: 50px;
    width: 190px;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #45a2fc, #1f76f6);
    background-size: 100% 100%;
    position: absolute;
    top: 1000px;
    left: 520px;
    font-size: 24px;
    font-weight: 900;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 22px;
}



.bottom{
    height: 150px;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.bottom>div{
    height: 60px;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.bottom>div>i{
    padding-left: 690px;

}




footer{
    height: 50px;
    width: 100%;
    background-color: #1e3459;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;

}
footer>div
{
    color: white;
    height: auto;
    width: auto;
    border: none 1px solid;
    


}